@model OgainShop.Models.Order

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="app-content">
    <section class="order_details section_gap">
        <div class="container">
            <div class="row order_d_inner">
                @if (Model != null)
                {
                    <div class="col-lg-4">
                        <div class="details_item">
                            <h4>Order Info</h4>
                            <ul class="list">
                                <li><a href="#"><span>Order number</span>: @Model.OrderId</a></li>
                                <li><a href="#"><span>Date</span>: @Model.OrderDate.ToShortDateString()</a></li>
                                <li><a href="#"><span>Total</span>: $@Model.TotalAmount</a></li>
                                <li><a href="#"><span>Payment method</span>: @Model.IsPaid</a></li>
                                <li><a href="#"><span>Status</span>: @Model.Status</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="details_item">
                            <h4>Customer Information</h4>
                            <ul class="list">
                                @*<li><a href="#"><span>Full Name</span>: @Model.User.Username</a></li>
                                    <li><a href="#"><span>Telephone</span>: @Model.User.PhoneNumber</a></li>
                                    <li><a href="#"><span>Email</span>: @Model.User.Email</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="details_item">
                            <h4>Shipping</h4>
                            <ul class="list">
                                @*<li><a href="#"><span>Shipping method</span>: @Model.ShippingMethod</a></li>
                                    <li><a href="#"><span>Address</span>: @Model.ShippingAddress</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="order_details_table">
                        <h2>Order Details</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Thumbnail </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                @foreach (var orderProduct in Model.OrderProducts)
                                {
                                    <tr>
                                        <td>@orderProduct.Product.ProductId</td>
                                        <td><img src="@orderProduct.Product.Thumbnail" width="120" /></td>
                                        <td>@orderProduct.Product.ProductName</td>
                                        <td>@orderProduct.Product.Price</td>
                                        <td>@orderProduct.Quantity</td>
                                        <td>$@(orderProduct.Product.Price * orderProduct.Quantity)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <p>Không có thông tin đơn hàng.</p>
                }
            </div>
        </div>
    </section>
</main>
