@model IEnumerable<OgainShop.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>List of products</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" asp-controller="Admin" asp-action="addProduct" title="Thêm">
                                <i class="fas fa-plus"></i>
                                Tạo mới sản phẩm
                            </a>
                        </div>


                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                                <i class="fas fa-print"></i> In dữ liệu
                            </a>
                        </div>
                    </div>
                    <form style="display: flex" asp-action="Product" asp-controller="Admin" method="get">
                        <div class="input-group input-group-sm mr-2" style="width: 150px; margin-left: 5px;">
                            <select value="" style="height: 45px;" name="CategoryId" class="form-control">
                                <option value="">Filter by category</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                }
                            </select>
                        </div>

                        <div class="input-group input-group-sm mr-2" style="width: 100px; float:left">
                            <input value="" class="form-control" type="number" name="Price_from" placeholder="Price from" />
                        </div>
                        <div class="input-group input-group-sm mr-2" style="width: 100px; float:left">
                            <input value="" class="form-control" type="number" name="Price_to" placeholder="Price to" />
                        </div>

                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input value="" type="text" name="search" class="form-control float-right" placeholder="Search">

                            <button style="height: 45px; margin-left: 3px;" type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>

                        </div>
                    </form>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Thumbnail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Qty)
                                </th>
                                <th class="status-column">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductId)
                                    </td>

                                    <td>
                                        <img src="@item.Thumbnail" width="100" height="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    </td>
                                    <td class="status-column @(item.Status == "Hết hàng" ? "HetHang" : "ConHang")">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Admin" asp-action="editProduct" asp-route-id="@item.ProductId">
                                            <i class="fas fa-edit"></i> Edit
                                        </a> |
                                        <form asp-controller="Admin" asp-action="deleteProduct" asp-route-id="@item.ProductId" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa sản phẩm này không?')">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i> Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    /* Định dạng chung cho cột Status */
    .status-column {
        font-weight: bold; /* Chữ đậm */
    }

        /* Màu đỏ cho trạng thái Hết hàng */
        .status-column.HetHang {
            color: red;
        }

        /* Màu xanh cho trạng thái Còn hàng */
        .status-column.ConHang {
            color: green;
        }
</style>
